In [1]:
import pandas as pd
import numpy as np
from pprint import pprint

In [2]:
# Importando dados
movies_df = pd.read_csv('../filmes.csv')

In [3]:
# Visualizando colunas do dataset
variables = list(movies_df.columns.values)
variables_str = '\n'.join(sorted(variables))
print('Variáveis:\n{}'.format(variables_str))
movies_df.head()
len(movies_df.columns)

Variáveis:
actor_1_facebook_likes
actor_1_name
actor_2_facebook_likes
actor_2_name
actor_3_facebook_likes
actor_3_name
aspect_ratio
budget
cast_total_facebook_likes
color
content_rating
country
director_facebook_likes
director_name
duration
facenumber_in_poster
genres
gross
imdb_score
language
movie_facebook_likes
movie_imdb_link
movie_title
num_critic_for_reviews
num_user_for_reviews
num_voted_users
plot_keywords
title_year

28

## 1. Deletando entradas com 1/3 dos valores ausentes

In [4]:
from math import ceil

num_variables = len(variables)
threshold = ceil((1/3)*num_variables)
print("Número de variáveis: {}. Limite de {} valores ausentes".format(num_variables, threshold))

    
# 1. Substituir 0's por NaN's
movies_df = movies_df.applymap(lambda x: np.nan if x == 0.0 else x)
size = len(movies_df)
# 2. Contabilizar NaNs para cada entrada
count_missing = movies_df.isnull().sum(axis='columns')
# 3. Remover
movies_df = movies_df[count_missing < threshold]
print("{} de {} entradas removidas".format(size-len(movies_df), size))

Número de variáveis: 28. Limite de 10 valores ausentes
16 de 5043 entradas removidas

## 2.0 Separando variáveis categóricas das variáveis numéricas

In [5]:
categorical_variables = ['actor_1_name', 'actor_2_name', 'actor_3_name', 'country', 'director_name', 'genres', 'language', 'movie_title', 'movie_imdb_link', 'plot_keywords', 'color', 'content_rating']
numerical_variables = [v for v in variables if v not in categorical_variables]

categorical_df = movies_df[categorical_variables]
numerical_df = movies_df[numerical_variables]

## 3. Processando variáveis categóricas

In [6]:
# Descrição do dataset categórico puro
categorical_df.describe()

,actor_1_name,actor_2_name,actor_3_name,country,director_name,genres,language,movie_title,movie_imdb_link,plot_keywords,color,content_rating
count,5025,5023,5016,5024,4928,5027,5018,5027,5027,4881,5011,4739
unique,2086,3026,3518,64,2387,911,47,4901,4903,4751,2,18
top,Robert De Niro,Morgan Freeman,Ben Mendelsohn,USA,Steven Spielberg,Drama,English,The Fast and the Furious,http://www.imdb.com/title/tt2224026/?ref_=fn_t...,based on novel,Color,R
freq,49,20,8,3796,26,236,4693,3,3,4,4802,2118

In [7]:
# Amostra do dataset
categorical_df.head()

,actor_1_name,actor_2_name,actor_3_name,country,director_name,genres,language,movie_title,movie_imdb_link,plot_keywords,color,content_rating
0,CCH Pounder,Joel David Moore,Wes Studi,USA,James Cameron,Action|Adventure|Fantasy|Sci-Fi,English,Avatar,http://www.imdb.com/title/tt0499549/?ref_=fn_t...,avatar|future|marine|native|paraplegic,Color,PG-13
1,Johnny Depp,Orlando Bloom,Jack Davenport,USA,Gore Verbinski,Action|Adventure|Fantasy,English,Pirates of the Caribbean: At World's End,http://www.imdb.com/title/tt0449088/?ref_=fn_t...,goddess|marriage ceremony|marriage proposal|pi...,Color,PG-13
2,Christoph Waltz,Rory Kinnear,Stephanie Sigman,UK,Sam Mendes,Action|Adventure|Thriller,English,Spectre,http://www.imdb.com/title/tt2379713/?ref_=fn_t...,bomb|espionage|sequel|spy|terrorist,Color,PG-13
3,Tom Hardy,Christian Bale,Joseph Gordon-Levitt,USA,Christopher Nolan,Action|Thriller,English,The Dark Knight Rises,http://www.imdb.com/title/tt1345836/?ref_=fn_t...,deception|imprisonment|lawlessness|police offi...,Color,PG-13
5,Daryl Sabara,Samantha Morton,Polly Walker,USA,Andrew Stanton,Action|Adventure|Sci-Fi,English,John Carter,http://www.imdb.com/title/tt0401729/?ref_=fn_t...,alien|american civil war|male nipple|mars|prin...,Color,PG-13

### 3.0 Uniformizando o texto

In [8]:
# Tirando todos os espaços em branco antes e depois das palavras
categorical_df = categorical_df.applymap(lambda x: x.strip() if type(x) is str else x)

### 3.1 Tratando valores ausentes
Estratégias:
1. Nomes dos atores: Deixar ausente
2. País: 
3. Diretor
4. Idioma:
5. Título: deixar ausente
6. Keywords: deixar ausente
8. Link do imdb: deixar ausente
9. Cor: colorido se número de likes no fb != nan

#### Atores

In [9]:
missing = categorical_df[categorical_df['actor_1_name'].isna() & categorical_df['actor_2_name'].isna() | categorical_df['actor_3_name'].isna()]
missing.describe()

,actor_1_name,actor_2_name,actor_3_name,country,director_name,genres,language,movie_title,movie_imdb_link,plot_keywords,color,content_rating
count,9,7,0.0,11,11,11,11,11,11,9,11,8
unique,9,7,0.0,7,11,7,2,11,11,9,1,5
top,Robert Redford,Casey Affleck,NaN,USA,Davis Guggenheim,Documentary,English,Pink Narcissus,http://www.imdb.com/title/tt0497116/?ref_=fn_t...,eastern philosophy|healing|india|life,Color,Not Rated
freq,1,1,NaN,5,1,5,10,1,1,1,11,3

#### País

In [10]:
country_df = categorical_df.country;
country_df.describe()

count     5024
unique      64
top        USA
freq      3796
Name: country, dtype: object

In [11]:
print("Tabela de Frequências")
country_df.value_counts().head()

Tabela de Frequências

USA        3796
UK          447
France      154
Canada      126
Germany      97
Name: country, dtype: int64

In [12]:
## Valores Ausentes
categorical_df[categorical_df['country'].isna()]

,actor_1_name,actor_2_name,actor_3_name,country,director_name,genres,language,movie_title,movie_imdb_link,plot_keywords,color,content_rating
2370,Nicole 'Snooki' Polizzi,Jenni 'Jwoww' Farley,Paul 'Pauly D' DelVecchio,NaN,NaN,Comedy|Drama|Reality-TV|Romance,English,"Gone, Baby, Gone",http://www.imdb.com/title/tt1697237/?ref_=fn_t...,lifestyle,Color,TV-14
3397,Dominic Cooper,Joseph Gilgun,Ruth Negga,NaN,NaN,Adventure|Drama|Fantasy|Mystery,English,Preacher,http://www.imdb.com/title/tt5016504/?ref_=fn_t...,heaven and hell|preacher|supernatural|vampire|...,Color,TV-MA
4021,Chris Brochu,Jeff Fahey,Rita Wilson,NaN,Daniel Petrie Jr.,Drama|Thriller,English,Dawn Patrol,http://www.imdb.com/title/tt2073661/?ref_=fn_t...,desert|held at gunpoint|marine|revenge|sex on ...,Color,NaN

In [13]:
# Ajustando todos valores ausentes manualmente, baseando-se no país
categorical_df.loc[2370, 'country'] = "USA"
categorical_df.loc[2370, 'director_name'] = "Ben Affleck"

categorical_df.loc[3397, 'country'] = "USA"
categorical_df.loc[3397, 'director_name'] = "Sam Catlin"

categorical_df.loc[4021, 'country'] = "USA"

#### Diretor

In [14]:
categorical_df.loc[categorical_df['director_name'].isna(), 'movie_title']

177                     Miami Vice
260                     The A-Team
404                       Hannibal
459                      Daredevil
479                      Bewitched
537                    Constantine
543                           Life
593                  Sleepy Hollow
645              Last Man Standing
685                    The Missing
757            Rules of Engagement
816     Sabrina, the Teenage Witch
826               Sex and the City
833               Anger Management
857                  Stargate SG-1
962                    Unforgotten
994               A Touch of Frost
1007                       Twisted
1023                      Defiance
1035                     Outlander
1133                  The Returned
1175                 McHale's Navy
1265                        Arthur
1346         3rd Rock from the Sun
1404                     Rush Hour
1444                 Hit the Floor
1499                        Luther
1620           Friday Night Lights
1659                    The Family
1664                     Entourage
                   ...
3661              The Inbetweeners
3800                  Saving Grace
3807                         Psych
3847              Secrets and Lies
3871          Anne of Green Gables
3881                Animal Kingdom
3900                  Saving Grace
3951           Sonny with a Chance
3982                       M*A*S*H
3989                        Empire
4015                    The Secret
4079                 Robot Chicken
4087            Deadline Gallipoli
4113                      Creature
4115                     BrainDead
4119                     The Grand
4249      In the Heat of the Night
4281          Strangers with Candy
4288                      Get Real
4304                        Eureka
4327                         Wings
4467       Space: Above and Beyond
4482     The Girlfriend Experience
4517                    Wolf Creek
4634                         Jesse
4798                        Heroes
4803                   Home Movies
4819                    Revolution
4869                  Happy Valley
5039                 The Following
Name: movie_title, Length: 97, dtype: object

#### Gêneros e keywords (ambos OK)

In [15]:
genres = categorical_df['genres'].astype(str)
genres[genres=='nan']

Series([], Name: genres, dtype: object)

#### Idioma

In [16]:
categorical_df['language'].value_counts().head()

English     4693
French        73
Spanish       40
Hindi         28
Mandarin      26
Name: language, dtype: int64

In [17]:
categorical_df.loc[categorical_df['language'].isna()]

,actor_1_name,actor_2_name,actor_3_name,country,director_name,genres,language,movie_title,movie_imdb_link,plot_keywords,color,content_rating
3086,Jon Gries,Taylor Handley,Trent Ford,USA,Christopher Cain,Drama|History|Romance|Western,NaN,September Dawn,http://www.imdb.com/title/tt0473700/?ref_=fn_t...,massacre|mormon|settler|utah|wagon train,Color,R
3539,Debi Derryberry,Kate Higgins,Cindy Robinson,USA,Richard Rich,Action|Adventure|Animation|Comedy|Drama|Family...,NaN,Alpha and Omega 4: The Legend of the Saw Tooth...,http://www.imdb.com/title/tt4061848/?ref_=fn_t...,blindness|cave|spirit|wolf|wolf cub,NaN,NaN
3869,Sid Caesar,Dom DeLuise,Bernadette Peters,USA,Mel Brooks,Comedy|Romance,NaN,Silent Movie,http://www.imdb.com/title/tt0075222/?ref_=fn_t...,black comedy|friend|modern silent movie|silent...,Color,PG
4110,William Morgan Sheppard,Kevin Gage,Brianna Brown,USA,Michael Landon Jr.,Drama|Family|Western,NaN,Love's Abiding Joy,http://www.imdb.com/title/tt0785025/?ref_=fn_t...,19th century|faith|mayor|ranch|sheriff,Color,PG
4409,Matthew Ziff,T.J. Storm,Sam Medina,USA,John Stockwell,Action,NaN,Kickboxer: Vengeance,http://www.imdb.com/title/tt3082898/?ref_=fn_t...,NaN,NaN,NaN
4630,Justin Baldoni,Luke Perry,Leonor Varela,USA,Jonathan Meyers,Drama,NaN,A Fine Step,http://www.imdb.com/title/tt1604100/?ref_=fn_t...,NaN,NaN,PG
4810,Lillian Gish,Mae Marsh,Walter Long,USA,D.W. Griffith,Drama|History|War,NaN,Intolerance: Love's Struggle Throughout the Ages,http://www.imdb.com/title/tt0006864/?ref_=fn_t...,huguenot|intolerance|medicis|protestant|wedding,Black and White,Not Rated
4885,John Gilbert,Renée Adorée,Claire Adams,USA,King Vidor,Drama|Romance|War,NaN,The Big Parade,http://www.imdb.com/title/tt0015624/?ref_=fn_t...,chewing gum|climbing a tree|france|translation...,Black and White,Not Rated
4958,Stephen Carr,Johnnie Walker,Mary Carr,USA,Harry F. Millarde,Crime|Drama,NaN,Over the Hill to the Poorhouse,http://www.imdb.com/title/tt0011549/?ref_=fn_t...,family relationships|gang|idler|poorhouse|thief,Black and White,NaN

In [18]:
#Todos os que faltam são americanos, logo são em inglês
categorical_df.loc[categorical_df['language'].isna(), 'language'] = 'English'

#### Classificação Indicativa

In [19]:
categorical_df.loc[categorical_df['content_rating'].isna()]

,actor_1_name,actor_2_name,actor_3_name,country,director_name,genres,language,movie_title,movie_imdb_link,plot_keywords,color,content_rating
98,Mark Chinnery,Shin'ya Tsukamoto,Atsuko Maeda,Japan,Hideaki Anno,Action|Adventure|Drama|Horror|Sci-Fi,Japanese,Godzilla Resurgence,http://www.imdb.com/title/tt4262980/?ref_=fn_t...,blood|godzilla|monster|sequel,Color,NaN
199,Rupert Grint,Dave Legeno,Ralph Ineson,UK,Matt Birch,Action|Fantasy,English,Harry Potter and the Deathly Hallows: Part II,http://www.imdb.com/title/tt1680310/?ref_=fn_t...,NaN,Color,NaN
204,Mark Chinnery,Shin'ya Tsukamoto,Atsuko Maeda,Japan,Hideaki Anno,Action|Adventure|Drama|Horror|Sci-Fi,Japanese,Godzilla Resurgence,http://www.imdb.com/title/tt4262980/?ref_=fn_t...,blood|godzilla|monster|sequel,Color,NaN
206,Rupert Grint,Toby Jones,Alfred Enoch,UK,Matt Birch,Fantasy,English,Harry Potter and the Deathly Hallows: Part I,http://www.imdb.com/title/tt1571403/?ref_=fn_t...,NaN,Color,NaN
242,Alain Delon,Santiago Segura,Vanessa Hessler,France,Frédéric Forestier,Adventure|Comedy|Family|Fantasy,French,Asterix at the Olympic Games,http://www.imdb.com/title/tt0463872/?ref_=fn_t...,1st century b.c.|lightsaber|local blockbuster|...,Color,NaN
489,Nissim Renard,Roxane Duran,Julie-Marie Parmentier,France,Lucile Hadzihalilovic,Drama|Horror|Mystery|Sci-Fi,French,Evolution,http://www.imdb.com/title/tt4291590/?ref_=fn_t...,boy|giving birth|nurse|sea|ultrasonography,Color,NaN
543,Adam Arkin,Brent Sexton,Damian Lewis,USA,NaN,Crime|Drama|Mystery,English,Life,http://www.imdb.com/title/tt0874936/?ref_=fn_t...,cop|murder|partner|police|protective male,Color,NaN
685,Jason Flemyng,James Nesbitt,Frances O'Connor,UK,NaN,Crime|Drama|Mystery,English,The Missing,http://www.imdb.com/title/tt3877200/?ref_=fn_t...,france|journalist|limp|police detective|reporter,Color,NaN
810,Li Gong,Aaron Kwok,Eddie Peng,China,Pou-Soi Cheang,Action|Adventure|Fantasy,English,Xi you ji zhi: Sun Wukong san da Baigu Jing,http://www.imdb.com/title/tt4591310/?ref_=fn_t...,buddhism|demon|journey to the west|monk|monkey...,Color,NaN
833,Barry Corbin,Noureen DeWulf,Brian Austin Green,USA,NaN,Comedy|Romance,English,Anger Management,http://www.imdb.com/title/tt1986770/?ref_=fn_t...,anger management|argument|irony|sarcasm|therapist,Color,NaN
962,Bernard Hill,Gemma Jones,Nicola Walker,UK,NaN,Crime|Drama,English,Unforgotten,http://www.imdb.com/title/tt4192812/?ref_=fn_t...,NaN,Color,NaN
994,David Jason,Bruce Alexander,John Lyons,UK,NaN,Crime|Drama|Mystery,English,A Touch of Frost,http://www.imdb.com/title/tt0108967/?ref_=fn_t...,cult tv|death|detective inspector|four word ti...,Color,NaN
1007,Grey Damon,Brittany Curran,Aaron Hill,USA,NaN,Drama|Mystery|Thriller,English,Twisted,http://www.imdb.com/title/tt2355844/?ref_=fn_t...,NaN,Color,NaN
1044,P.J. Soles,Lochlyn Munro,Steve Bacic,USA,Chuck Bowman,Horror|Thriller,English,The Tooth Fairy,http://www.imdb.com/title/tt0473553/?ref_=fn_t...,bare breasts|genital dismemberment|mulching so...,Color,NaN
1178,Jamel Debbouze,Youssef Hajdi,Mélissa Theuriau,France,Jamel Debbouze,Adventure|Animation|Comedy|Family,French,Animal Kingdom: Let's go Ape,http://www.imdb.com/title/tt1220911/?ref_=fn_t...,ape|computer animation|evolution|first person ...,Color,NaN
1329,Tamannaah Bhatia,Anushka Shetty,Prabhas,India,S.S. Rajamouli,Action|Adventure|Drama|Fantasy|War,Telugu,Baahubali: The Beginning,http://www.imdb.com/title/tt2631186/?ref_=fn_t...,ancient india|dual role|good versus evil|hindu...,Color,NaN
1347,Blythe Auffarth,Bianca Collins,Jiao Xu,China,Yuefeng Song,Adventure|Animation|Family|Fantasy,English,Dragon Nest: Warriors' Dawn,http://www.imdb.com/title/tt2911342/?ref_=fn_t...,NaN,Color,NaN
1382,Yuliya Snigir,Fedor Bondarchuk,Aleksey Serebryakov,Russia,Fedor Bondarchuk,Action|Adventure|Sci-Fi,Russian,Obitaemyy ostrov,http://www.imdb.com/title/tt0972558/?ref_=fn_t...,22nd century|first part|friend|guard|space opera,Color,NaN
1444,Jodi Lyn O'Keefe,Kimberly Elise,Logan Browning,USA,NaN,Drama|Romance,English,Hit the Floor,http://www.imdb.com/title/tt2368645/?ref_=fn_t...,affair|hip hop|sex scene,Color,NaN
1510,Bill Cobbs,Aisha Tyler,Beverly D'Angelo,USA,Tony Kaye,Crime|Drama,English,Black Water Transit,http://www.imdb.com/title/tt0490087/?ref_=fn_t...,based on novel,Color,NaN
1527,Kyle Hebert,Brianne Brozey,Joe Ochman,Belgium,Jeremy Degruson,Adventure|Animation|Comedy|Family|Fantasy,English,Thunder and the House of Magic,http://www.imdb.com/title/tt3148834/?ref_=fn_t...,NaN,Color,NaN
1710,Ólafur Darri Ólafsson,Ingvar Eggert Sigurðsson,Björn Hlynur Haraldsson,Iceland,NaN,Crime|Drama|Thriller,Icelandic,Trapped,http://www.imdb.com/title/tt3561180/?ref_=fn_t...,coastal town|iceland|police|snowstorm|winter s...,Color,NaN
1724,Louise Bourgoin,Sandrine Kiberlain,Kad Merad,France,Laurent Tirard,Comedy|Family,French,Little Nicholas,http://www.imdb.com/title/tt1264904/?ref_=fn_t...,baby|dinner|family relationships|school|three ...,Color,NaN
1730,Paz Vega,Frank Langella,Derek Jacobi,Switzerland,Olivier Dahan,Biography|Drama|Romance,English,Grace of Monaco,http://www.imdb.com/title/tt2095649/?ref_=fn_t...,1960s|grace kelly|hollywood star|monaco|prince,Color,NaN
1731,Konstantin Khabenskiy,Fedor Bondarchuk,Sergey Garmash,Russia,Maksim Fadeev,Adventure|Animation|Fantasy,Russian,A Warrior's Tail,http://www.imdb.com/title/tt4075322/?ref_=fn_t...,battle|creature|hyena|monkey|village,Color,NaN
1793,Viggo Mortensen,Elena Anaya,Eduardo Noriega,Spain,Agustín Díaz Yanes,Adventure|Drama|History|Romance|Thriller|War,Spanish,Captain Alatriste: The Spanish Musketeer,http://www.imdb.com/title/tt0395119/?ref_=fn_t...,desire|fighting|king|spain|trap,Color,NaN
1818,Jackie Gleason,Art Carney,Joyce Randolph,USA,NaN,Comedy|Family,English,The Honeymooners,http://www.imdb.com/title/tt0042114/?ref_=fn_t...,1950s|bus driver|money scheme|poverty|sewer,Black and White,NaN
1831,Kim-Marie Woodhouse,Amy Carson,Joseph Kaiser,France,Kenneth Branagh,Drama|Musical|Romance,English,The Magic Flute,http://www.imdb.com/title/tt0475331/?ref_=fn_t...,based on opera|evil|mozart|queen|walking wounded,Color,NaN
1878,Jason Flemyng,Igor Jijikine,Agnia Ditkovskite,Russia,Oleg Stepchenko,Adventure|Fantasy|Mystery|Thriller,Russian,Viy,http://www.imdb.com/title/tt1224378/?ref_=fn_t...,cartographer|creature|foreign language adaptat...,Color,NaN
1977,Dany Boon,Malonn Lévana,Alice Pol,France,Pascal Chaumeil,Comedy|Romance,French,A Perfect Plan,http://www.imdb.com/title/tt1986843/?ref_=fn_t...,curse|divorce|marriage|tourism|travel,Color,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
4939,Lisa Ann,Jesse Jane,Kayden Kross,USA,Deborah Anderson,Documentary,English,Aroused,http://www.imdb.com/title/tt2403815/?ref_=fn_t...,aroused|photography|pornography documentary|po...,Black and White,NaN
4940,Ariel Hsing,Xinhua Jiang,Michael Landers,USA,Sara Newens,Documentary,English,Top Spin,http://www.imdb.com/title/tt4219836/?ref_=fn_t...,NaN,Color,NaN
4949,Christopher Judge,David Hewlett,Paul McGillion,Canada,David Hewlett,Comedy,English,A Dog's Breakfast,http://www.imdb.com/title/tt0796314/?ref_=fn_t...,dog|vegetarian,Color,NaN
4950,Christopher Judge,David Hewlett,Paul McGillion,Canada,David Hewlett,Comedy,English,A Dog's Breakfast,http://www.imdb.com/title/tt0796314/?ref_=fn_t...,dog|vegetarian,Color,NaN
4952,Philippe Leroy,Macha Méril,Rita Maiden,France,Jean-Luc Godard,Drama,French,Une Femme Mariée,http://www.imdb.com/title/tt0058701/?ref_=fn_t...,acting|actor|face slap|fashion|magazine,Black and White,NaN
4954,Richard Moll,Frank Gerrish,Christopher Robin Miller,USA,Nathan Smith Jones,Comedy,English,The Work and the Story,http://www.imdb.com/title/tt0339921/?ref_=fn_t...,latter day saints|lds film|mock documentary|mo...,Color,NaN
4958,Stephen Carr,Johnnie Walker,Mary Carr,USA,Harry F. Millarde,Crime|Drama,English,Over the Hill to the Poorhouse,http://www.imdb.com/title/tt0011549/?ref_=fn_t...,family relationships|gang|idler|poorhouse|thief,Black and White,NaN
4968,Claire Gordon-Harper,Hugh Mun,Johnathan Hurley,USA,Patrick Ryan Sims,Action|Drama|Sci-Fi|Thriller,English,Echo Dr.,http://www.imdb.com/title/tt2343473/?ref_=fn_t...,android|artificial intelligence|home invasion|...,Color,NaN
4972,Noam Chomsky,Seth Ackerman,Arik Ascherman,USA,Sut Jhally,Documentary,English,"Peace, Propaganda & the Promised Land",http://www.imdb.com/title/tt0428959/?ref_=fn_t...,arab israeli conflict|israel|media|middle east...,Color,NaN
4976,Michelle Simone Miller,Steve Diasparra,A.J. DeLucia,USA,Brett Piper,Action|Sci-Fi|Thriller,English,Queen Crab,http://www.imdb.com/title/tt2319456/?ref_=fn_t...,NaN,Color,NaN
4989,Corbin Bernsen,Chelse Swain,Amanda MacDonald,USA,Daniel Mellitz,Comedy|Drama,English,The Naked Ape,http://www.imdb.com/title/tt0381053/?ref_=fn_t...,coming of age|male nudity|road trip|skinny dip...,Color,NaN
4991,Dan Novy,David Mersault,Barry Lynch,USA,Andrew Leman,Fantasy|Horror|Mystery|Thriller,English,The Call of Cthulhu,http://www.imdb.com/title/tt0478988/?ref_=fn_t...,1920s|cthulhu|dream|sailor|silent film,Black and White,NaN
4994,Taliesin Jaffe,Greg Aronowitz,Jeff Dowd,USA,Patrick Meaney,Biography|Documentary,English,The Image Revolution,http://www.imdb.com/title/tt2294916/?ref_=fn_t...,comic book|comic book history|comics|spawn|wal...,Color,NaN
4996,Katrina Bowden,Jon Gries,Kelen Coleman,USA,Malcolm Goodwin,Comedy,English,A True Story,http://www.imdb.com/title/tt1524083/?ref_=fn_t...,ellipsis in title|long title|period in title|p...,Color,NaN
4999,Barry Corbin,Johnny Walter,Shiree Nelson,USA,Kirk Loudon,Drama|Sci-Fi|Thriller,English,Dawn of the Crescent Moon,http://www.imdb.com/title/tt3157318/?ref_=fn_t...,NaN,Color,NaN
5002,Julianne Gabert,Thomas Brophy,Ronee Collins,USA,Collin Joseph Neal,Horror|Thriller,English,"Run, Hide, Die",http://www.imdb.com/title/tt2442662/?ref_=fn_t...,NaN,Color,NaN
5010,Andrew Bujalski,Kate Dollenmayer,Justin Rice,USA,Andrew Bujalski,Comedy|Drama,English,Funny Ha Ha,http://www.imdb.com/title/tt0327753/?ref_=fn_t...,mumblecore,Color,NaN
5013,Franky G,Panchito Gómez,Casper Martinez,USA,Eric Eason,Drama|Family,English,Manito,http://www.imdb.com/title/tt0298050/?ref_=fn_t...,ex convict|graduation|manhattan new york city|...,Color,NaN
5016,Tjasa Ferme,Mikaal Bates,Damon Owlia,USA,Joseph Mazzella,Crime|Drama|Thriller,English,Dutch Kills,http://www.imdb.com/title/tt2759066/?ref_=fn_t...,NaN,Color,NaN
5017,Kristen Seavey,Suzi Lorraine,Travis Legge,USA,Travis Legge,Comedy|Romance,English,Dry Spell,http://www.imdb.com/title/tt2375036/?ref_=fn_t...,anti romantic comedy|dating|divorce|sex comedy...,Color,NaN
5018,Shannen Fields,Lisa Arnold,Janet Lee Dapper,USA,Alex Kendrick,Drama,English,Flywheel,http://www.imdb.com/title/tt0425027/?ref_=fn_t...,baby|car salesman|christian film|pregnancy|use...,Color,NaN
5020,Robbie Barnes,Alana Kaniewski,Brandon Landers,USA,Brandon Landers,Drama|Horror|Thriller,English,The Ridges,http://www.imdb.com/title/tt1781935/?ref_=fn_t...,avatar|college|death|tron|university,NaN,NaN
5022,Paul Ogola,Olwenya Maina,Mugambi Nthiga,Kenya,Jim Chuchu,Drama,Swahili,Stories of Our Lives,http://www.imdb.com/title/tt3973612/?ref_=fn_t...,NaN,Black and White,NaN
5023,Zoe Lister-Jones,Heather Burns,Ebon Moss-Bachrach,USA,Daryl Wein,Romance,English,Breaking Upwards,http://www.imdb.com/title/tt1247644/?ref_=fn_t...,NaN,Color,NaN
5028,Patrick O'Donnell,Michael Parle,Emma Eliza Regan,Ireland,Ivan Kavanagh,Horror,English,Tin Can Man,http://www.imdb.com/title/tt1235811/?ref_=fn_t...,NaN,Black and White,NaN
5029,Kôji Yakusho,Anna Nakagawa,Denden,Japan,Kiyoshi Kurosawa,Crime|Horror|Mystery|Thriller,Japanese,The Cure,http://www.imdb.com/title/tt0123948/?ref_=fn_t...,breasts|interrogation|investigation|murder|wat...,Color,NaN
5030,Tatiana Suarez-Pico,Michael Cortez,Eric Ambriz,USA,Tadeo Garcia,Drama,English,On the Downlow,http://www.imdb.com/title/tt0390323/?ref_=fn_t...,gang initiation|gunplay|hazing|latino|shakespe...,Color,NaN
5031,Julianna Pitt,Joe Coffey,John Lucas,USA,Thomas L. Phillips,Comedy|Horror|Thriller,English,Sanctuary; Quite a Conundrum,http://www.imdb.com/title/tt2049518/?ref_=fn_t...,nudity|party|pirate|swimsuit|three word title,Color,NaN
5032,Peter Greene,Stanley B. Herman,James Noble,USA,Ash Baron-Cohen,Crime|Drama,English,Bang,http://www.imdb.com/title/tt0109266/?ref_=fn_t...,corruption|homeless|homeless man|motorcycle|ur...,Color,NaN
5038,Eric Mabius,Daphne Zuniga,Crystal Lowe,Canada,Scott Smith,Comedy|Drama,English,Signed Sealed Delivered,http://www.imdb.com/title/tt3000844/?ref_=fn_t...,fraud|postal worker|prison|theft|trial,Color,NaN

In [20]:
rating_freq = categorical_df['content_rating'].value_counts()
rating_labels = rating_freq.index
rating_freqs = rating_freq.values
normalization_factor = sum(rating_freqs) #normalizando
weigths = [i/normalization_factor for i in rating_freqs]
rating_freq

R            2118
PG-13        1460
PG            701
Not Rated     116
G             112
Unrated        62
Approved       55
TV-14          30
TV-MA          20
X              13
TV-PG          13
TV-G           10
Passed          9
NC-17           7
GP              6
M               5
TV-Y            1
TV-Y7           1
Name: content_rating, dtype: int64

In [21]:
# Estratégia: Atribuir a classificação mais frequente de cada diretor
from numpy.random import choice
missing = categorical_df.loc[categorical_df['content_rating'].isna()]
for index, row in missing.iterrows():
    ratings = categorical_df.loc[categorical_df['director_name'] == row['director_name'], 'content_rating'].value_counts()
    if len(ratings)> 0:
        rating = ratings.index[0]
    else:
        rating = choice(rating_labels, p=weigths) # se não achar realiza sorteio poderado com frequência
    categorical_df.loc[index, 'content_rating'] = rating

#### Cor

In [22]:
# Visualização dos dados antes de tratar dados ausentes
color_df = categorical_df['color']
print("Frequências:\n{}".format(color_df.astype(str).value_counts()))
animations = movies_df['genres'].apply(lambda x: "Animation" in x if type(x) is str else x)

Frequências:
Color              4802
Black and White     209
nan                  16
Name: color, dtype: int64

In [23]:
movies_df.loc[movies_df['color'] == 'Color', 'title_year'].value_counts()
movies_df.loc[movies_df['title_year'] == 1937, 'movie_title']
movies_df.loc[4449] # Animações dps de 1937 são coloridas

color                                                                    Color
director_name                                                 William Cottrell
num_critic_for_reviews                                                     145
duration                                                                    83
director_facebook_likes                                                    NaN
actor_3_facebook_likes                                                      31
actor_2_name                                                     Billy Gilbert
actor_1_facebook_likes                                                      82
gross                                                              1.84925e+08
genres                                        Animation|Family|Fantasy|Musical
actor_1_name                                                 Adriana Caselotti
movie_title                                   Snow White and the Seven Dwarfs
num_voted_users                                                         133348
cast_total_facebook_likes                                                  229
actor_3_name                                                  Lucille La Verne
facenumber_in_poster                                                         1
plot_keywords                             dwarf|love|princess|queen|snow white
movie_imdb_link              http://www.imdb.com/title/tt0029583/?ref_=fn_t...
num_user_for_reviews                                                       204
language                                                               English
country                                                                    USA
content_rating                                                        Approved
budget                                                                   2e+06
title_year                                                                1937
actor_2_facebook_likes                                                      47
imdb_score                                                                 7.7
aspect_ratio                                                              1.37
movie_facebook_likes                                                       NaN
Name: 4449, dtype: object

In [24]:
#Tratando dados ausentes
is_color = numerical_df['movie_facebook_likes'] > 0

# Não tem valor e é colorido
color_df = categorical_df[is_color & categorical_df['color'].isna()]
color_df['color'] = 'Color'
categorical_df.update(color_df)

# Não tem valor e é preto e branco
color_df = categorical_df[~is_color & categorical_df['color'].isna()]
color_df['color'] = 'Black and White'

# Atualizando as entradas do dataframe
categorical_df.update(color_df)
categorical_df['color'].describe()

print("Valores presentes: {}".format(set(categorical_df['color'].values)))

Valores presentes: {'Color', 'Black and White'}

/home/dcandrade/.anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/home/dcandrade/.anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()

### 3.2 Codificando colunas em formato de lista (gênero e keywords)

#### Gêneros

In [25]:
#Processando gênero
# Transformando string em lista
genres =  categorical_df.genres.apply(lambda x: x.replace(' ', '').replace('-', ''))
genres.head()

0    Action|Adventure|Fantasy|SciFi
1          Action|Adventure|Fantasy
2         Action|Adventure|Thriller
3                   Action|Thriller
5            Action|Adventure|SciFi
Name: genres, dtype: object

In [26]:
vocabulary = set()
genres.apply(lambda x: vocabulary.update(x.split('|')))

from sklearn.feature_extraction.text import CountVectorizer
genre_vectorizer = CountVectorizer()
genre_vectorizer.fit(vocabulary)
vocabulary = sorted(genre_vectorizer.vocabulary_)
vocabulary

['action',
 'adventure',
 'animation',
 'biography',
 'comedy',
 'crime',
 'documentary',
 'drama',
 'family',
 'fantasy',
 'filmnoir',
 'history',
 'horror',
 'music',
 'musical',
 'mystery',
 'news',
 'realitytv',
 'romance',
 'scifi',
 'short',
 'sport',
 'thriller',
 'war',
 'western']

In [27]:
vect_genres = genre_vectorizer.transform(genres.values)
genres_binary_df = pd.DataFrame(vect_genres.toarray())
genres_binary_df.rename(lambda x: 'genre_'+vocabulary[int(x)], axis='columns', inplace=True)
genres_binary_df.head()

,genre_action,genre_adventure,genre_animation,genre_biography,genre_comedy,genre_crime,genre_documentary,genre_drama,genre_family,genre_fantasy,...,genre_mystery,genre_news,genre_realitytv,genre_romance,genre_scifi,genre_short,genre_sport,genre_thriller,genre_war,genre_western
0,1,1,0,0,0,0,0,0,0,1,...,0,0,0,0,1,0,0,0,0,0
1,1,1,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
2,1,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
4,1,1,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0

In [28]:
# Colocando de volta no Dataframe
categorical_df.drop('genres', axis='columns', inplace=True)
categorical_df = categorical_df.join(genres_binary_df)
categorical_df.head()

,actor_1_name,actor_2_name,actor_3_name,country,director_name,language,movie_title,movie_imdb_link,plot_keywords,color,...,genre_mystery,genre_news,genre_realitytv,genre_romance,genre_scifi,genre_short,genre_sport,genre_thriller,genre_war,genre_western
0,CCH Pounder,Joel David Moore,Wes Studi,USA,James Cameron,English,Avatar,http://www.imdb.com/title/tt0499549/?ref_=fn_t...,avatar|future|marine|native|paraplegic,Color,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1,Johnny Depp,Orlando Bloom,Jack Davenport,USA,Gore Verbinski,English,Pirates of the Caribbean: At World's End,http://www.imdb.com/title/tt0449088/?ref_=fn_t...,goddess|marriage ceremony|marriage proposal|pi...,Color,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Christoph Waltz,Rory Kinnear,Stephanie Sigman,UK,Sam Mendes,English,Spectre,http://www.imdb.com/title/tt2379713/?ref_=fn_t...,bomb|espionage|sequel|spy|terrorist,Color,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,Tom Hardy,Christian Bale,Joseph Gordon-Levitt,USA,Christopher Nolan,English,The Dark Knight Rises,http://www.imdb.com/title/tt1345836/?ref_=fn_t...,deception|imprisonment|lawlessness|police offi...,Color,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
5,Daryl Sabara,Samantha Morton,Polly Walker,USA,Andrew Stanton,English,John Carter,http://www.imdb.com/title/tt0401729/?ref_=fn_t...,alien|american civil war|male nipple|mars|prin...,Color,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0

#### Keywords

In [29]:
#Lembrete do problema de '1000000 b.c.
keywords = categorical_df.plot_keywords.astype(str).apply(lambda x: x.split('|'))
all_keywords = set()
keywords.apply(lambda x: all_keywords.update(x))
sorted(all_keywords)

['10 year old',
 '1000000 b.c.',
 '1190s',
 '12 step program',
 '12 year old',
 '12 year time span',
 '12th century',
 '13 year old',
 '13 year olds',
 '13th birthday',
 '14 year old',
 '14th century',
 '15 year old',
 '1520s',
 '15th birthday',
 '15th century',
 '16 year old',
 '16th century',
 '1770s',
 '17th century',
 '18 wheeler',
 '1800s',
 '1810s',
 '1830s',
 '1850s',
 '1860s',
 '1880s',
 '1890s',
 '18th birthday',
 '18th century',
 '1910s',
 '1920s',
 '1930s',
 '1940s',
 '1950s',
 '1955 chevrolet',
 '1959 cadillac',
 '1960s',
 '1969 dodge charger',
 '1970s',
 '1980s',
 '1988 winter olympics',
 '1990s',
 '19th century',
 '1st century',
 '1st century b.c.',
 '20 years later',
 '2000s',
 '2010s',
 '2020s',
 '2030s',
 '20th century',
 '21 year old',
 '21st birthday',
 '21st century',
 '22 year old',
 '22nd century',
 '23 year time span',
 '23rd century',
 '27th century',
 '2nd century',
 '3 dimensional',
 '30 year old',
 '35 mm digital camera',
 '3d',
 '3d in title',
 '40 year old',
 '40th birthday',
 '41st century',
 '50s',
 '5th century',
 '70mm film',
 '8 year old',
 '80s action',
 '9 year old',
 '911 operator',
 'a cappella',
 'abandoned',
 'abandoned asylum',
 'abandoned building',
 'abandoned by mother',
 'abandoned hospital',
 'abandoned hotel',
 'abandoned house',
 'abbreviation in title',
 'abdication',
 'abduction',
 'able to see the dead',
 'aborigine',
 'abortion',
 'abortion clinic',
 'abraham',
 'absent father',
 'abstract',
 'absurd humor',
 'abu dhabi',
 'abu ghraib',
 'abuse',
 'abuse of power',
 'abusive boyfriend',
 'abusive father',
 'abusive husband',
 'abusive marriage',
 'abusive mother',
 'abusive parent',
 'abusive relationship',
 'abusive stepfather',
 'academic probation',
 'academy award',
 'acceptance',
 'accident',
 'accidental death',
 'accidental killing',
 'accidental kiss',
 'accidental shooting',
 'accountant',
 'accused of witchcraft',
 'acid trip',
 'acorn',
 'acrobat',
 'acronym in title',
 'acrophobia',
 'act of kindness',
 'acting',
 'action figure',
 'action hero',
 'action heroine',
 'activist',
 'actor',
 'actor director writer',
 'actor name in title',
 'actor playing himself',
 'actor playing multiple roles',
 'actor voicing multiple characters',
 "actor's picture shown in credits",
 'actress',
 'actress name in title',
 'actress playing herself',
 'actress shares first name with character',
 'actual animal killed',
 'adaptation directed by original author',
 'addict',
 'addiction',
 'address as title',
 'adidas',
 'admiral',
 'adolescence',
 'adopted daughter',
 'adopted son',
 'adoption',
 'adult actor playing minor',
 'adult as child',
 'adult child friendship',
 'adult diaper',
 'adult entertainment industry',
 'adult humor',
 'adult returns home',
 'adulterous wife',
 'adultery',
 'adventurer',
 'advertising',
 'advertising executive',
 'advice',
 'aerialist',
 'affair',
 'affection',
 'afghanistan',
 'africa',
 'african',
 'african american',
 'african american gangster',
 'african american lesbian',
 'african american policeman',
 'african american protagonist',
 'african american stereotype',
 'african americans',
 'african national congress',
 'after dark',
 'after dark horrorfest',
 'afterlife',
 'age difference',
 'agent',
 'aging',
 'aging rocker',
 'agoraphobia',
 'agriculture',
 'aids',
 'air cavalry',
 'air marshal',
 'air raid',
 'air traffic control',
 'air traffic controller',
 'airborne troops',
 'airfield',
 'airline',
 'airplane',
 'airport',
 'airport security',
 'al qaeda',
 'alabama',
 'alamut',
 'alaska',
 'albanian',
 'alcatraz',
 'alcohol',
 'alcoholic',
 'alcoholic drink',
 'alcoholic father',
 'alcoholism',
 'alderman',
 'algeria',
 'algerian',
 'algerian war',
 'alibi',
 'alice in wonderland',
 'alien',
 'alien abduction',
 'alien contact',
 'alien creature',
 'alien friendship',
 'alien infection',
 'alien invasion',
 'alien life form',
 'alien planet',
 'alien probe',
 'alien race',
 'alien space craft',
 'alienation',
 'all girl band',
 'alliance',
 'allies',
 'alligator',
 'alliterative title',
 'alone',
 'alopecia',
 'alter ego',
 'altering history',
 'alternate history',
 'alternate reality',
 'alternate timeline',
 'alternate universe',
 'alternate world',
 'alternative comedy',
 'alternative energy',
 'alternative reality',
 "alzheimer's disease",
 'amateur',
 'amateur detective',
 'amateur film',
 'amateur radio',
 'amateur theater',
 'amazing grace the hymn',
 'amazon',
 'ambassador',
 'ambiguity',
 'ambiguous ending',
 'ambulance',
 'ambulance driver',
 'ambush',
 'american',
 'american abroad',
 'american actor playing foreigner',
 'american actress playing british character',
 'american civil war',
 'american dream',
 'american expatriate',
 'american football',
 'american in paris',
 'american in the uk',
 'american politics',
 'american president',
 'american revolution',
 'american soldier',
 'american south',
 'american west',
 'amish',
 'amnesia',
 'amphibian',
 'amputee',
 'amusement park',
 'anaconda',
 'anal sex',
 'analyst',
 'anarchist',
 'anchor',
 'anchorage alaska',
 'anchorman',
 'ancient astronaut',
 'ancient egypt',
 'ancient greece',
 'ancient india',
 'andes mountains',
 'androgynous',
 'android',
 'andy kaufman',
 'andy warhol',
 'anesthetic',
 'anesthetic awareness',
 'angel',
 'angel dust the drug',
 'anger',
 'anger management',
 'angkor wat',
 'angry spirit',
 'anilingus',
 'animal',
 'animal abuse',
 'animal abuse(non graphic)',
 'animal as human',
 'animal attack',
 'animal companion',
 'animal control',
 'animal costume',
 'animal experimentation',
 'animal in title',
 'animal name in title',
 'animal rights',
 'animate doll',
 'animate object',
 'animated credits',
 'animated sequence',
 'animator',
 'anime',
 'anniversary',
 'answer to prayer',
 'answering machine',
 'ant',
 'antarctica',
 'anthology',
 'anthropologist',
 'anthropomorphic animal',
 'anthropomorphic mouse',
 'anthropomorphism',
 'anthropophagus',
 'anti choice',
 'anti establishment',
 'anti hero',
 'anti romantic comedy',
 'anti semitism',
 'anti war',
 'antibes',
 'anticipate',
 'antidote',
 'antique',
 'antique shop',
 'apache',
 'apache indian',
 'apartheid',
 'apartment',
 'apartment building',
 'apatosaurus',
 'ape',
 'ape abducts a woman',
 'aphrodisiac',
 'apocalypse',
 'apology',
 'apostrophe in title',
 'appearing from water',
 'appeasement',
 'appendicitis',
 'apple',
 'apple computer',
 'apprentice',
 "april fool's day",
 'aquarium',
 'arab',
 'arab israeli conflict',
 'arab stereotype',
 'arachnophobia',
 'arc de triomphe paris',
 'arcade',
 'arcade game',
 'arch villain',
 'archdiocese',
 'archeological dig',
 'archeologist',
 'archer',
 'archery',
 'archipelago',
 'architect',
 'arctic',
 'arctic circle',
 'ardennes forest',
 'area 51',
 'arena',
 'ares',
 'argentina',
 'argentine',
 'argument',
 'aristocrat',
 'arizona',
 'ark',
 'ark of the covenant',
 'arkansas',
 'arm tattoo',
 'armageddon',
 'armed forces',
 'armenian',
 'armenian genocide',
 'armor',
 'armored car',
 'armored truck',
 'armpit fetish',
 'arms dealer',
 'arms tied overhead',
 'army',
 'army cid',
 'army of the dead',
 'army rangers',
 'army veteran',
 'aron ralston',
 'around the world',
 'aroused',
 'arranged marriage',
 'arrest',
 'arrogance',
 'arrow',
 'arsonist',
 'art',
 'art class',
 'art collector',
 'art dealer',
 'art deco',
 'art director',
 'art exhibition',
 'art expert',
 'art forgery',
 'art model',
 'art of war',
 'art teacher',
 'art thief',
 'artifact',
 'artificial heart',
 'artificial insemination',
 'artificial intelligence',
 'artificial organ',
 'artificial reality',
 'artificially created woman',
 'artist',
 'asbestos',
 'ash',
 'ashes',
 'ashram',
 'asia',
 'asian american',
 'asian dragon',
 "asperger's syndrome",
 'aspiring actor',
 'assassin',
 'assassination',
 'assassination attempt',
 'assistant',
 'assistant director',
 'association',
 'assumed identity',
 'asteroid',
 'astoria',
 'astronaut',
 'astronomer',
 'asylum',
 'at work',
 'atf',
 'atf agent',
 'atheist',
 'athlete',
 'athletic training',
 'atlanta georgia',
 'atlantis',
 'atrocity',
 'attack',
 'attacked by a plant',
 'attempted murder',
 'attempted rape',
 'attempted suicide',
 'attention deficit disorder',
 'attic',
 'attorney',
 'attraction',
 'auction',
 'auctioneer',
 'audio surveillance',
 'audition',
 'augmented reality',
 'august',
 'aunt',
 'aunt niece relationship',
 'aura',
 'auroch',
 'aurora borealis',
 'austin texas',
 'australia',
 'australian',
 'australian aborigine',
 'australian outback',
 'austria',
 'austrian',
 'author',
 'author cameo',
 'authority',
 'authority figure as villian',
 'autism',
 'autistic child',
 'autistic son',
 'auto theft',
 'autobiography',
 'autobot',
 'autocracy',
 'autograph',
 'automaton',
 'automobile association of america',
 'automobile racing',
 'autopsy',
 'autumn',
 'avant garde',
 'avatar',
 'aviation',
 'aviator',
 'avoidant personality disorder',
 'award',
 'awkward boy',
 'awkwardness',
 'awol',
 'axe',
 'aztec',
 'b movie',
 'b.a.r.t.',
 'babe scientist',
 'baby',
 'baby boy',
 'baby rattle',
 'babysitter',
 'babysitting',
 'bachelor',
 'bachelor party',
 'bachelorette party',
 'back from the dead',
 'back to school',
 'backstage',
 'backup singer',
 'bad',
 'bad acting',
 'bad cop',
 'bad day',
 'bad luck',
 'bad taste humour',
 'bad weather',
 'bag of money',
 'bag over head',
 'bahamas',
 'bail',
 'bail bond',
 'bailiff',
 'ball',
 'ball gag',
 'balladeer',
 'ballerina',
 'ballet',
 'ballet school',
 'ballistics',
 'balloon',
 'ballot',
 'ballroom',
 'ballroom dancing',
 'baltimore colts',
 'baltimore orioles',
 'bambi',
 'bamboo cane',
 'banana boat',
 'band',
 'band aid',
 'bangkok',
 'bangkok thailand',
 'bangladesh',
 'banishment',
 'bank',
 'bank clerk',
 'bank fraud',
 'bank heist',
 'bank manager',
 'bank robber',
 'bank robbery',
 'banker',
 'banking',
 'bankruptcy',
 'baptism',
 'baptist church',
 'bar',
 'bar fight',
 'bar mitzvah',
 'barbarian',
 'barbecue',
 'barbed wire',
 'barbed wire fence',
 'barber',
 'barbershop',
 'bare breasts',
 'bare butt',
 'bare chested boy',
 'bare chested male',
 'bare chested male bondage',
 'bare midriff',
 'barefoot',
 'barista',
 'barn',
 'barn owl',
 'baron',
 'barricade',
 'barricading a door',
 'barrio',
 'bartender',
 'baseball',
 'baseball card',
 'baseball movie',
 'baseball player',
 'baseball practice',
 'baseball scout',
 'baseball team',
 'based on a book',
 'based on a novel',
 'based on a true story',
 'based on anime',
 'based on article',
 'based on autobiography',
 'based on book',
 'based on cartoon',
 "based on children's book",
 'based on comic',
 'based on comic book',
 'based on cult comic book',
 'based on cult favorite',
 'based on cult tv series',
 'based on ed gein',
 'based on fairy tale',
 'based on film',
 'based on manga',
 'based on memoir',
 'based on multiple works',
 'based on novel',
 'based on opera',
 'based on play',
 'based on poem',
 'based on real events',
 'based on real person',
 'based on short film',
 'based on short story',
 'based on sketch comedy',
 'based on stage musical',
 'based on stage musical based on film',
 'based on stage musical based on novel',
 'based on stage musical based on stage play',
 'based on supposedly true story',
 'based on the bible',
 'based on toy',
 'based on true events',
 'based on true story',
 'based on tv series',
 'based on video game',
 'based on web series',
 'based on young adult novel',
 'basement',
 'basic training',
 'basketball',
 'basketball coach',
 'basketball game',
 'basketball movie',
 'basketball player',
 'basketball team',
 'bastille day',
 'bat',
 'bathhouse',
 'bathing a baby',
 'bathory',
 'bathroom',
 'bathtub',
 'batman',
 'battalion',
 'battle',
 'battle of agincourt',
 'battle of gallipoli',
 'battle of the bands',
 'battle of the bulge',
 'battle of the sexes',
 'battlefield',
 'battleship',
 'bay area',
 'bayonet',
 'bayou',
 'bb gun',
 'bdsm',
 'beach',
 'beach house',
 'bean',
 'bear',
 'bear attack',
 'beard',
 'beast',
 'beastmaster',
 'beating',
 'beatnik',
 'beauty',
 'beauty pageant',
 'beauty salon',
 'beaver puppet',
 'beavis and butt head',
 'bechdel test failed',
 'bechdel test passed',
 'bed',
 'bedroom',
 'bedtime story',
 'bee',
 'beekeeper',
 'beekeeping',
 'beer',
 'beer pong',
 'begins with narration',
 'behind enemy lines',
 'beijing',
 'being followed',
 'bel air california',
 'belching',
 'belfast northern ireland',
 'belgium',
 'belief',
 'belief in the afterlife',
 "belldon's hysteria",
 'belle epoque',
 'belleville',
 'bellhop',
 'bengali',
 'benzedrine',
 'berlin wall',
 'bermuda triangle',
 'best friend',
 'best friends',
 'bestiality',
 'bet',
 'bethlehem',
 'betrayal',
 'beverly hills california',
 'beverly hills hotel',
 'bhutan',
 'bible',
 'bible quote',
 'biblical',
 'biblical epic',
 'biblical plague',
 'bicycle',
 'bicyclist',
 'big brother',
 'bigfoot',
 'bigger dreams',
 'bigotry',
 'bike',
 'biker',
 'biker gang',
 'bikini',
 'bildungsroman',
 'bilingual',
 'bill and ted',
 'billings montana',
 'billionaire',
 'binge drinking',
 'binoculars',
 'biological father',
 'bipolar disorder',
 'bird',
 'bird in a cage',
 'birding',
 'birth',
 'birthday',
 'birthday party',
 'birthday wish',
 'bisexual',
 'bisexuality',
 'bishop',
 'bitch',
 'black american',
 'black and white',
 'black and white photograph',
 'black and white segues into color',
 'black cat',
 'black college',
 'black comedy',
 'black cop',
 'black dahlia',
 'black history',
 'black hole',
 'black horse',
 'black humor',
 'black magic',
 'black militant',
 'black ops',
 'black panther',
 'black panties',
 'black pantyhose',
 'black romance',
 'black september',
 'black servant',
 'black smoke',
 'black soldier',
 'black u.s. president',
 'blackbeard',
 'blackheart',
 'blackjack',
 'blackmail',
 'blackout',
 'blacksmith',
 'blade',
 'blade the character',
 'blanket',
 'blaxploitation',
 'blender',
 'blind',
 'blind date',
 'blind prophet',
 'blindfold',
 'blindfolded woman',
 'blindness',
 'blister',
 'blizzard',
 'blob',
 'block party',
 'blockade',
 'blockbuster',
 'blocked road',
 'blog',
 'blogger',
 'blond boy',
 'blonde',
 'blonde bombshell',
 'blood',
 'blood and gore',
 'blood brother',
 'blood of christ',
 'blood sample',
 'blood splatter',
 'blood splatter on face',
 'blood vomiting',
 'bloody body of child',
 'bloody mary the drink',
 'bloody violence',
 'bloody water',
 'blooper',
 'bloopers during credits',
 'blow job',
 'blue',
 'blue bird of happiness',
 'blue bra and panties',
 'blue clay',
 'blue light',
 'blue ribbon',
 'blueberry pie',
 'bmx',
 'board of directors',
 'boarding house',
 'boarding school',
 'boat',
 'boat builder',
 'boat on fire',
 'boat racing',
 'boating accident',
 'bobble head doll',
 'bobby darin',
 'bobsled',
 'body',
 'body count',
 'body paint',
 'body snatching',
 'body swap',
 'bodybuilder',
 'bodyguard',
 'bolivia',
 'bollywood',
 'bolshevik',
 'bomb',
 'bomb making',
 'bomb shelter',
 'bomb squad',
 'bombardier',
 'bomber',
 'bombing',
 'bombing mission',
 'bond girl',
 'bondage gear',
 'bone',
 'bong',
 'bonn germany',
 'boob job',
 'booby trap',
 'boogeyman',
 'book',
 'book club',
 'book of esther',
 'book of mormon',
 'book of the dead',
 'book publishing',
 'book strap',
 'bookstore',
 'boot camp',
 'boots',
 'booty shake',
 'bordeaux',
 'border',
 'borderline personality disorder',
 'boredom',
 'borg',
 'borg sphere',
 'born in vitro',
 'borneo',
 'bosnia',
 'bosnian war',
 'boss',
 'boss subordinate relationship',
 "boss' daughter",
 'boston',
 'boston marathon',
 'boston massachusetts',
 'boston red sox',
 'bottle',
 'boudoir',
 'boulder',
 'bouncer',
 'bound and gagged',
 'bound with duct tape',
 'bounty',
 'bounty hunter',
 'bouquet',
 'bouquet of roses',
 'bow and arrow',
 'bowling',
 'box',
 'box office flop',
 'box office hit',
 'boxer',
 'boxer rebellion',
 'boxing',
 'boxing arena',
 'boxing gym',
 'boxing knockout',
 'boxing manager',
 'boxing match',
 'boxing movie',
 'boxing trainer',
 'boxing training',
 'boy',
 'boy genius',
 'boy horse relationship',
 'boy in a bathtub',
 'boy scouts',
 'boy scouts camp',
 'boyfriend',
 'boyfriend girlfriend relationship',
 'boyhood friend',
 "boys' school",
 'bra',
 'bra and panties',
 'bracelet',
 'brain',
 'brain capacity',
 'brain tumor',
 'brains',
 'brainwashed assassin',
 'brainwashing',
 'bratislava',
 'bravery',
 'brawl',
 'brazil',
 'brazilian',
 'bread',
 'break up',
 'breakdown',
 'breakfast',
 'breakfast cereal',
 'breaking and entering',
 'breaking down a door',
 'breaking the fourth wall',
 'breaking the fourth wall by talking to the audience',
 'breakup',
 'breast',
 'breast cancer',
 'breast enlargement',
 'breast expansion',
 'breast surgery',
 'breasts',
 'breasts growing',
 'breath holding contest',
 'breath on mirror',
 'breeding',
 'brewery',
 'bride',
 'bridesmaid',
 'bridge',
 'bridge construction',
 'briefcase full of money',
 'briefs',
 'bright light',
 'brighton',
 'british',
 'british actor playing american character',
 'british agent',
 ...]

In [30]:
# Processando keywords
keywords = categorical_df.plot_keywords.astype(str).apply(lambda x: x.replace(' ', '').replace('-', '').replace('.', ''))
all_keywords = set()
keywords.apply(lambda x: all_keywords.update(x.split('|')))
len(all_keywords)

8063

In [31]:
keyword_vectorizer = CountVectorizer()
keyword_vectorizer.fit(all_keywords)
vocabulary = sorted(keyword_vectorizer.vocabulary_)
len(vocabulary)

8091

In [34]:
vect_keywords = genre_vectorizer.transform(keywords.values)
keywords_binary_df = pd.DataFrame(vect_keywords.toarray())
keywords_binary_df.rename(lambda x: 'keyword_'+vocabulary[int(x)], axis='columns', inplace=True)
keywords_binary_df.head()

,keyword_1000000bc,keyword_10yearold,keyword_1190s,keyword_12stepprogram,keyword_12thcentury,keyword_12yearold,keyword_12yeartimespan,keyword_13thbirthday,keyword_13yearold,keyword_13yearolds,...,keyword_15yearold,keyword_16thcentury,keyword_16yearold,keyword_1770s,keyword_17thcentury,keyword_1800s,keyword_1810s,keyword_1830s,keyword_1850s,keyword_1860s
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [33]:
# Colocando de volta no Dataframe
categorical_df.drop('plot_keywords', axis='columns', inplace=True)
categorical_df = categorical_df.join(keywords_binary_df)
categorical_df.head()

,actor_1_name,actor_2_name,actor_3_name,country,director_name,language,movie_title,movie_imdb_link,color,content_rating,...,keyword_15yearold,keyword_16thcentury,keyword_16yearold,keyword_1770s,keyword_17thcentury,keyword_1800s,keyword_1810s,keyword_1830s,keyword_1850s,keyword_1860s
0,CCH Pounder,Joel David Moore,Wes Studi,USA,James Cameron,English,Avatar,http://www.imdb.com/title/tt0499549/?ref_=fn_t...,Color,PG-13,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Johnny Depp,Orlando Bloom,Jack Davenport,USA,Gore Verbinski,English,Pirates of the Caribbean: At World's End,http://www.imdb.com/title/tt0449088/?ref_=fn_t...,Color,PG-13,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Christoph Waltz,Rory Kinnear,Stephanie Sigman,UK,Sam Mendes,English,Spectre,http://www.imdb.com/title/tt2379713/?ref_=fn_t...,Color,PG-13,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Tom Hardy,Christian Bale,Joseph Gordon-Levitt,USA,Christopher Nolan,English,The Dark Knight Rises,http://www.imdb.com/title/tt1345836/?ref_=fn_t...,Color,PG-13,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,Daryl Sabara,Samantha Morton,Polly Walker,USA,Andrew Stanton,English,John Carter,http://www.imdb.com/title/tt0401729/?ref_=fn_t...,Color,PG-13,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0