In [157]:
import pandas as pd
import numpy as np
from pprint import pprint

In [158]:
# Importando dados
movies_df = pd.read_csv('../filmes.csv')

In [159]:
# Visualizando colunas do dataset
variables = list(movies_df.columns.values)
variables_str = '\n'.join(sorted(variables))
print('Variáveis:\n{}'.format(variables_str))
movies_df.head()

Variáveis:
actor_1_facebook_likes
actor_1_name
actor_2_facebook_likes
actor_2_name
actor_3_facebook_likes
actor_3_name
aspect_ratio
budget
cast_total_facebook_likes
color
content_rating
country
director_facebook_likes
director_name
duration
facenumber_in_poster
genres
gross
imdb_score
language
movie_facebook_likes
movie_imdb_link
movie_title
num_critic_for_reviews
num_user_for_reviews
num_voted_users
plot_keywords
title_year

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

## 1. Deletando entradas com 1/3 dos valores ausentes

In [160]:
from math import ceil

num_variables = len(variables)
threshold = ceil((1/3)*num_variables)
print("Número de variáveis: {}. Limite de {} valores ausentes".format(num_variables, threshold))

# 1. Substituir 0's por NaN's
movies_df = movies_df.applymap(lambda x: np.nan if x == 0.0 else x)
size = len(movies_df)
# 2. Contabilizar NaNs para cada entrada
count_missing = movies_df.isnull().sum(axis='columns')
# 3. Remover
movies_df = movies_df[count_missing < threshold]
print("{} de {} entradas removidas".format(size-len(movies_df), size))

Número de variáveis: 28. Limite de 10 valores ausentes
16 de 5043 entradas removidas

## 2.0 Separando variáveis categóricas das variáveis numéricas

In [161]:
categorical_variables = ['actor_1_name', 'actor_2_name', 'actor_3_name', 'country', 'director_name', 'genres', 'language', 'movie_title', 'movie_imdb_link', 'plot_keywords', 'color']
numerical_variables = [v for v in variables if v not in categorical_variables]

categorical_df = movies_df[categorical_variables]
numerical_df = movies_df[numerical_variables]

## 3. Processando variáveis categóricas

In [53]:
# Descrição do dataset categórico puro
categorical_df.describe()

,actor_1_name,actor_2_name,actor_3_name,country,director_name,genres,language,movie_title,movie_imdb_link,plot_keywords,color
count,5025,5023,5016,5024,4928,5027,5018,5027,5027,4881,5011
unique,2086,3026,3518,64,2387,911,47,4901,4903,4751,2
top,Robert De Niro,Morgan Freeman,Steve Coogan,USA,Steven Spielberg,Drama,English,King Kong,http://www.imdb.com/title/tt0360717/?ref_=fn_t...,based on novel,Color
freq,49,20,8,3796,26,236,4693,3,3,4,4802

In [54]:
# Amostra do dataset
categorical_df.head()

,actor_1_name,actor_2_name,actor_3_name,country,director_name,genres,language,movie_title,movie_imdb_link,plot_keywords,color
0,CCH Pounder,Joel David Moore,Wes Studi,USA,James Cameron,Action|Adventure|Fantasy|Sci-Fi,English,Avatar,http://www.imdb.com/title/tt0499549/?ref_=fn_t...,avatar|future|marine|native|paraplegic,Color
1,Johnny Depp,Orlando Bloom,Jack Davenport,USA,Gore Verbinski,Action|Adventure|Fantasy,English,Pirates of the Caribbean: At World's End,http://www.imdb.com/title/tt0449088/?ref_=fn_t...,goddess|marriage ceremony|marriage proposal|pi...,Color
2,Christoph Waltz,Rory Kinnear,Stephanie Sigman,UK,Sam Mendes,Action|Adventure|Thriller,English,Spectre,http://www.imdb.com/title/tt2379713/?ref_=fn_t...,bomb|espionage|sequel|spy|terrorist,Color
3,Tom Hardy,Christian Bale,Joseph Gordon-Levitt,USA,Christopher Nolan,Action|Thriller,English,The Dark Knight Rises,http://www.imdb.com/title/tt1345836/?ref_=fn_t...,deception|imprisonment|lawlessness|police offi...,Color
5,Daryl Sabara,Samantha Morton,Polly Walker,USA,Andrew Stanton,Action|Adventure|Sci-Fi,English,John Carter,http://www.imdb.com/title/tt0401729/?ref_=fn_t...,alien|american civil war|male nipple|mars|prin...,Color

### 3.0 Uniformizando o texto

In [55]:
# Tirando todos os espaços em branco antes e depois das palavras
categorical_df = categorical_df.applymap(lambda x: x.strip() if type(x) is str else x)

### 3.1 Tratando valores ausentes
Estratégias:
1. Nomes dos atores: Deixar ausente
2. País: 
3. Diretor
4. Idioma:
5. Título: deixar ausente
6. Keywords: deixar ausente
8. Link do imdb: deixar ausente
9. Cor: colorido se número de likes no fb != nan

In [56]:
# Atores
missing = categorical_df[categorical_df['actor_1_name'].isna() & categorical_df['actor_2_name'].isna() | categorical_df['actor_3_name'].isna()]
missing.describe()

,actor_1_name,actor_2_name,actor_3_name,country,director_name,genres,language,movie_title,movie_imdb_link,plot_keywords,color
count,9,7,0.0,11,11,11,11,11,11,9,11
unique,9,7,0.0,7,11,7,2,11,11,9,1
top,Matt Damon,Beatrice Ntuba,NaN,USA,Jacques Perrin,Documentary,English,Fantasia,http://www.imdb.com/title/tt0221809/?ref_=fn_t...,breast cancer|comma in title|period in title|p...,Color
freq,1,1,NaN,5,1,5,10,1,1,1,11

In [57]:
# Cor - Visualização dos dados antes de tratar dados ausentes
color_df = categorical_df['color']
print("Valores presentes: {}".format(set(color_df.values)))
color_df.describe()

Valores presentes: {nan, 'Black and White', 'Color'}

count      5011
unique        2
top       Color
freq       4802
Name: color, dtype: object

In [58]:
#Cor - Tratando dados ausentes
is_color = numerical_df['movie_facebook_likes'] > 0

# Não tem valor e é colorido
color_df = categorical_df[is_color & categorical_df['color'].isna()]
color_df['color'] = 'Color'
categorical_df.update(color_df)

# Não tem valor e é preto e branco
color_df = categorical_df[~is_color & categorical_df['color'].isna()]
color_df['color'] = 'Black and White'

# Atualizando as entradas do dataframe
categorical_df.update(color_df)
categorical_df['color'].describe()

print("Valores presentes: {}".format(set(categorical_df['color'].values)))

Valores presentes: {'Black and White', 'Color'}

/home/dcandrade/.anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/home/dcandrade/.anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()

In [59]:
# TODO: fazer com o resto das variáveis

### 3.2 Processando colunas em formato de lista (gênero e keywords)

In [162]:
#Bibliotecas
from sklearn.preprocessing import LabelEncoder

#### Gêneros

In [166]:
#Processando gênero
# Transformando string em lista
genres =  categorical_df.genres.apply(lambda x: x.split('|'))
genres.head()

0    [Action, Adventure, Fantasy, Sci-Fi]
1            [Action, Adventure, Fantasy]
2           [Action, Adventure, Thriller]
3                      [Action, Thriller]
5             [Action, Adventure, Sci-Fi]
Name: genres, dtype: object

In [167]:
# Quebrando o array em colunas
genres = genres.apply(pd.Series)
genres.rename(lambda x: 'genre_{}'.format(x), axis='columns', inplace=True)
genres = genres.astype(str) # as que não tem valor ficam como nan
genres.head()

  genre_0    genre_1   genre_2 genre_3 genre_4 genre_5 genre_6 genre_7
0  Action  Adventure   Fantasy  Sci-Fi     nan     nan     nan     nan
1  Action  Adventure   Fantasy     nan     nan     nan     nan     nan
2  Action  Adventure  Thriller     nan     nan     nan     nan     nan
3  Action   Thriller       nan     nan     nan     nan     nan     nan
5  Action  Adventure    Sci-Fi     nan     nan     nan     nan     nan

In [ ]:
#Convertendo as categorias para inteiros
all_genres = set()
genres.applymap(lambda x: all_genres.add(x))
genre_encoder = LabelEncoder()
genre_encoder.fit(list(all_genres))
genres = genres.apply(genre_encoder.transform)
genres.head()

In [138]:
# Colocando de volta no Dataframe
categorical_df.drop('genres', axis='columns', inplace=True)
categorical_df = categorical_df.join(genres)
categorical_df.head()

/home/dcandrade/.anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,actor_1_name,actor_2_name,actor_3_name,country,director_name,language,movie_title,movie_imdb_link,plot_keywords,color,genre_0,genre_1,genre_2,genre_3,genre_4,genre_5,genre_6,genre_7
0,CCH Pounder,Joel David Moore,Wes Studi,USA,James Cameron,English,Avatar,http://www.imdb.com/title/tt0499549/?ref_=fn_t...,avatar|future|marine|native|paraplegic,Color,0,1,9,20,17,17,17,17
1,Johnny Depp,Orlando Bloom,Jack Davenport,USA,Gore Verbinski,English,Pirates of the Caribbean: At World's End,http://www.imdb.com/title/tt0449088/?ref_=fn_t...,goddess|marriage ceremony|marriage proposal|pi...,Color,0,1,9,17,17,17,17,17
2,Christoph Waltz,Rory Kinnear,Stephanie Sigman,UK,Sam Mendes,English,Spectre,http://www.imdb.com/title/tt2379713/?ref_=fn_t...,bomb|espionage|sequel|spy|terrorist,Color,0,1,23,17,17,17,17,17
3,Tom Hardy,Christian Bale,Joseph Gordon-Levitt,USA,Christopher Nolan,English,The Dark Knight Rises,http://www.imdb.com/title/tt1345836/?ref_=fn_t...,deception|imprisonment|lawlessness|police offi...,Color,0,23,17,17,17,17,17,17
5,Daryl Sabara,Samantha Morton,Polly Walker,USA,Andrew Stanton,English,John Carter,http://www.imdb.com/title/tt0401729/?ref_=fn_t...,alien|american civil war|male nipple|mars|prin...,Color,0,1,20,17,17,17,17,17

#### Keywords

In [142]:
# Processando keywords
keywords = categorical_df.plot_keywords.apply(lambda x: x.split('|') if type(x) is str else 'None')
keywords.head()

0         [avatar, future, marine, native, paraplegic]
1    [goddess, marriage ceremony, marriage proposal...
2            [bomb, espionage, sequel, spy, terrorist]
3    [deception, imprisonment, lawlessness, police ...
5    [alien, american civil war, male nipple, mars,...
Name: plot_keywords, dtype: object

In [151]:
# Quebrando o array em colunas
keywords = keywords.apply(pd.Series)
keywords.rename(lambda x: 'keywords_{}'.format(x), axis='columns', inplace=True)
keywords = keywords.astype(str) # nan is the value for missing

In [152]:
#Convertendo as categorias para inteiros
all_keywords = set()
keywords.applymap(lambda x: all_keywords.add(x))
keywords_encoder = LabelEncoder()
keywords_encoder.fit(list(all_keywords))
keywords = keywords.apply(keywords_encoder.transform)
keywords.head()

,keywords_keywords_keywords_keywords_keywords_keywords_keywords_0,keywords_keywords_keywords_keywords_keywords_keywords_keywords_1,keywords_keywords_keywords_keywords_keywords_keywords_keywords_2,keywords_keywords_keywords_keywords_keywords_keywords_keywords_3,keywords_keywords_keywords_keywords_keywords_keywords_keywords_4
0,515,2866,4301,4759,5158
1,3026,4314,4317,5313,6522
2,875,2327,6334,6785,7202
3,1894,3565,3964,5405,7206
5,216,264,4249,4319,5544