In [63]:
import pandas as pd
from pprint import pprint

In [64]:
# Importando dados
movies_df = pd.read_csv('../filmes.csv')

In [65]:
# Visualizando colunas do dataset
columns = list(movies_df.columns.values)
columns_str = '\n'.join(sorted(columns))
print('Colunas:\n{}'.format(columns_str))
movies_df.head()

Colunas:
actor_1_facebook_likes
actor_1_name
actor_2_facebook_likes
actor_2_name
actor_3_facebook_likes
actor_3_name
aspect_ratio
budget
cast_total_facebook_likes
color
content_rating
country
director_facebook_likes
director_name
duration
facenumber_in_poster
genres
gross
imdb_score
language
movie_facebook_likes
movie_imdb_link
movie_title
num_critic_for_reviews
num_user_for_reviews
num_voted_users
plot_keywords
title_year

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

In [96]:
# Separando variÃ¡veis categÃ³ricas das variÃ¡veis numÃ©ricas
categorical_variables = ['actor_1_name', 'actor_2_name', 'actor_3_name', 'country', 'director_name', 'genres', 'language', 'movie_title', 'movie_imdb_link', 'plot_keywords']
numerical_variables = [v for v in columns if v not in categorical_variables]
categorical_df = movies_df[categorical_variables]
numerical_df = movies_df[numerical_variables]

## 2. Processando variÃ¡veis categÃ³ricas

In [97]:
# DescriÃ§Ã£o do dataset categÃ³rico puro
categorical_df.describe()

,actor_1_name,actor_2_name,actor_3_name,country,director_name,genres,language,movie_title,movie_imdb_link,plot_keywords
count,5036,5030,5020,5038,4939,5043,5031,5043,5043,4890
unique,2097,3032,3521,65,2398,914,47,4917,4919,4760
top,Robert De Niro,Morgan Freeman,John Heard,USA,Steven Spielberg,Drama,English,Home,http://www.imdb.com/title/tt1976009/?ref_=fn_t...,based on novel
freq,49,20,8,3807,26,236,4704,3,3,4

In [98]:
# Amostra do dataset
categorical_df.head()

,actor_1_name,actor_2_name,actor_3_name,country,director_name,genres,language,movie_title,movie_imdb_link,plot_keywords
0,CCH Pounder,Joel David Moore,Wes Studi,USA,James Cameron,Action|Adventure|Fantasy|Sci-Fi,English,Avatar,http://www.imdb.com/title/tt0499549/?ref_=fn_t...,avatar|future|marine|native|paraplegic
1,Johnny Depp,Orlando Bloom,Jack Davenport,USA,Gore Verbinski,Action|Adventure|Fantasy,English,Pirates of the Caribbean: At World's End,http://www.imdb.com/title/tt0449088/?ref_=fn_t...,goddess|marriage ceremony|marriage proposal|pi...
2,Christoph Waltz,Rory Kinnear,Stephanie Sigman,UK,Sam Mendes,Action|Adventure|Thriller,English,Spectre,http://www.imdb.com/title/tt2379713/?ref_=fn_t...,bomb|espionage|sequel|spy|terrorist
3,Tom Hardy,Christian Bale,Joseph Gordon-Levitt,USA,Christopher Nolan,Action|Thriller,English,The Dark Knight Rises,http://www.imdb.com/title/tt1345836/?ref_=fn_t...,deception|imprisonment|lawlessness|police offi...
4,Doug Walker,Rob Walker,NaN,NaN,Doug Walker,Documentary,NaN,Star Wars: Episode VII - The Force AwakensÂ ...,http://www.imdb.com/title/tt5289954/?ref_=fn_t...,NaN

In [100]:
# Retirando colunas irrelevantes inicialmente
categorical_df.drop(['movie_title', 'movie_imdb_link'], axis='columns', inplace=True)
categorical_df.head()

/home/dcandrade/.anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,actor_1_name,actor_2_name,actor_3_name,country,director_name,genres,language,plot_keywords
0,CCH Pounder,Joel David Moore,Wes Studi,USA,James Cameron,Action|Adventure|Fantasy|Sci-Fi,English,avatar|future|marine|native|paraplegic
1,Johnny Depp,Orlando Bloom,Jack Davenport,USA,Gore Verbinski,Action|Adventure|Fantasy,English,goddess|marriage ceremony|marriage proposal|pi...
2,Christoph Waltz,Rory Kinnear,Stephanie Sigman,UK,Sam Mendes,Action|Adventure|Thriller,English,bomb|espionage|sequel|spy|terrorist
3,Tom Hardy,Christian Bale,Joseph Gordon-Levitt,USA,Christopher Nolan,Action|Thriller,English,deception|imprisonment|lawlessness|police offi...
4,Doug Walker,Rob Walker,NaN,NaN,Doug Walker,Documentary,NaN,NaN

### 2.1 Processando coluna de gÃªneros

In [73]:
# Transformando string em lista
genres =  categorical_df.genres.apply(lambda x: x.split('|'))
genres.head()

0    [Action, Adventure, Fantasy, Sci-Fi]
1            [Action, Adventure, Fantasy]
2           [Action, Adventure, Thriller]
3                      [Action, Thriller]
4                           [Documentary]
Name: genres, dtype: object

In [75]:
# Coletando todos os gÃªneros disponÃ­veis
all_genres = set([item for sublist in genres for item in sublist])
all_genres

{'Action',
 'Adventure',
 'Animation',
 'Biography',
 'Comedy',
 'Crime',
 'Documentary',
 'Drama',
 'Family',
 'Fantasy',
 'Film-Noir',
 'Game-Show',
 'History',
 'Horror',
 'Music',
 'Musical',
 'Mystery',
 'News',
 'Reality-TV',
 'Romance',
 'Sci-Fi',
 'Short',
 'Sport',
 'Thriller',
 'War',
 'Western'}

In [76]:
genres = genres.apply(pd.Series)
genres.rename(lambda x: 'genre_{}'.format(x), axis='columns', inplace=True)
genres.head()

       genre_0    genre_1   genre_2 genre_3 genre_4 genre_5 genre_6 genre_7
0       Action  Adventure   Fantasy  Sci-Fi     NaN     NaN     NaN     NaN
1       Action  Adventure   Fantasy     NaN     NaN     NaN     NaN     NaN
2       Action  Adventure  Thriller     NaN     NaN     NaN     NaN     NaN
3       Action   Thriller       NaN     NaN     NaN     NaN     NaN     NaN
4  Documentary        NaN       NaN     NaN     NaN     NaN     NaN     NaN

In [88]:
# Convertendo para binÃ¡rio
genres = pd.get_dummies(genres)
# TODO: colocar de volta no dataset